package components

import (
	"fmt"
	"github.com/zibbp/eos/internal/comment"
)

templ VideoComments(comments []comment.Comment) {
	<div>
		for _, comment := range comments {
			<div id={ fmt.Sprintf("comment-%s", comment.ID) }>
				@VideoComment(comment)
			</div>
		}
	</div>
}
